# Editor configuration, see http://editorconfig.org

root = true

[*]
# 输入的 tab 都用空格代替
indent_style = space
# 一个 tab 用 4 个空格代替
indent_size = 4
# 换行符使用 unix 的换行符 \n
end_of_line = lf
# 字符编码 utf-8
charset = utf-8
# 掉每行末尾的空格
trim_trailing_whitespace = true
# 每个文件末尾都加一个空行
insert_final_newline = true

[*.md]
# .md 文件不去掉每行末尾的空格
trim_trailing_whitespace = false

[Makefile]
indent_style = tab